<!DOCTYPE html>
<html>
<head>
<title>ICT12367 SPU</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap" rel="stylesheet">

<style>
    body{
font-family: 'Kanit', sans-serif;
}

.banner-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
font-weight:600;
text-shadow:2px 2px 6px black;
}


.banner-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
font-weight:bold;
text-shadow:2px 2px 5px black;
}

.table-box{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0px 4px 15px rgba(0,0,0,0.2);
}

</style>

</head>

<body style="background:#f5f5f5;">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">

<a class="navbar-brand fw-bold" href="#">ICT12367 SPU</a>

<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="{% url 'index' %}">หน้าแรก</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">ลงทะเบียน</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">เกี่ยวกับเรา</a>
</li>

</ul>

</div>
</nav>

<!-- Banner -->
<div style="position:relative;">

<img src="https://png.pngtree.com/background/20250120/original/pngtree-technology-background-network-and-circuit-picture-image_15514536.jpg"
class="img-fluid"
style="height:300px;width:100%;object-fit:cover;">

<h2 class="banner-text">
ยินดีต้อนรับสู่เว็บไซต์ของรายวิชา ICT12367
</h2>

</div>

<!-- Content -->
<div class="container mt-5">
        <div class="card shadow p-4" style="border-radius: 15px; border: none;">
            <h2 class="text-center mb-4" style="color: purple; font-weight: bold;">ลงทะเบียนประชากรใหม่</h2>
            
            <form action="/form/" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label fw-bold">ชื่อประชากร</label>
                    <input type="text" name="fname" class="form-control" placeholder="ตัวอย่าง: Neymar Jr" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">อายุ</label>
                    <input type="number" name="fage" class="form-control" placeholder="ระบุอายุเป็นตัวเลข" required>
                </div>
                
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success px-5 fw-bold">บันทึกข้อมูล</button>
                    <a href="{% url 'index' %}" class="btn btn-outline-secondary px-5 fw-bold">กลับหน้าแรก</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>